html {
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
  width: 100%;
  height: 100%;
  margin: 0px;
}
#header {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  font-size: 36px;
  width: 100%;
}
#left {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 0px 5px gainsboro;
}
#nav {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20%;
  margin-top: 20%;
  margin-bottom: 30%;
  font-family: "Alata", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  max-height: 125px;
  max-width: 150px;
}
#allDiv {
  background-color: cornflowerblue;
  color: white;
}
#projectsDivNames {
  max-height: 80px;
  overflow-y: auto;
}
#projectsDivTitle {
  margin-bottom: 10px;
}
#projectAddContainer {
  display: flex;
  gap: 2px;
}
.pNameHolders {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  column-gap: 5%;
  max-width: 400px;
}
.projectName {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.nameDeleteButton {
  display: none;
}
.nameDeleteButton,
#exitButton {
  background-color: red;
  color: white;
  border: none;
  width: 20px;
  height: 18px;
  text-align: center;
  font-size: 14px;
}
#right {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  height: 100%;
}
#allTask,
#todayTask,
#upcomingTask {
  font-family: "Alata", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
#allTask {
  display: flex;
}
.noTasks {
  margin-top: 30%;
  font-weight: 400;
  font-size: 24px;
}
#todayTask,
#upcomingTask,
#projects,
#projectInput,
#addProject,
#addPName,
#userForm,
#projectsDivNames,
#storedIDHolder1,
#storedIDHolder2,
#storedIDHolder3,
#confirm1,
#confirm2,
#addTaskButton,
.projectDisplay {
  display: none;
}
#userForm {
  margin-top: 4%;
  margin-bottom: 4%;
  flex-direction: column;
}
#fieldset {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2%;
  margin-bottom: 2%;
  border: solid 2px coral;
}
label {
  display: grid;
  grid-template-columns: 0.4fr 4fr;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input,
select,
textarea {
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: solid 2px cornflowerblue;
}
.userTitle {
  overflow: hidden;
}
#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.dHolder {
  display: none;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: left;
  column-gap: 1.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  margin-top: 5px;
  color: coral;
  font-size: 24px;
  max-width: 250px;
  height: auto;
}
.taskDiv {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr 1.5fr 1fr 1fr;
  border: solid 2px lightsalmon;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-items: center;
  font-family: "Alata", sans-serif;
  font-size: 18px;
  width: 90%;
}
.checkDiv {
  grid-column: 1;
  width: 50px;
  height: auto;
  margin: 5px;
}
.titleDiv {
  grid-column: 2;
}
.titleDiv {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titleDiv {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.detailsDiv {
  grid-column: 3;
}
.detailsTitle {
  max-width: 450px;
  overflow: auto;
  overflow-y: hidden;
}
.dateDiv {
  grid-column: 4;
}
.edit {
  grid-column: 5;
  grid-row: 1;
}
.delete {
  grid-column: 6;
  grid-row: 1;
}
.taskImg {
  width: 15px;
  height: auto;
}
#projects {
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
#pTitle {
  font-family: "Alata", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 30%;
  overflow-x: auto;
  max-width: 400px;
}
#addTaskButton {
  margin-top: 20px;
}
button {
  border-radius: 8px;
  border: 2px solid coral;
  background-color: cornflowerblue;
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  max-width: 125px;
  height: auto;
}
